* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

$grey-bg: #f8f8f8;
$bright-grey-bg: #fbfbfb;
$title: #9c89b8;
$bright-pink: #f0a6ca;
$grey-text: #939393;
$dark-yellow: rgb(211, 208, 129);

.container {
    margin: 0 auto;
    max-width: 1300px;
}
.left-side-bg {
    position: absolute;
    z-index: -5;
    width: 50%;
    height: 100%;
    background-color: $bright-grey-bg;
}
.right-side-bg {
    position: absolute;
    z-index: -5;
    width: 50%;
    height: 100%;
    right: 0;
}
.line {
    background-color:$grey-text;
    width: 100%;
    height: 2px;
}
.title {
    padding: 70px;
    h2 {
        font-size: 28px;
        font-weight: 400;
        text-align: right;
        color: $title;
    }
}
.description {
    padding: 70px;
    font-size: 20px;
    color: $grey-text;
}
.card {
    width: 26%;
    ul {
     list-style-type: none;
    }
    .card-title {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 600;
        color: $bright-pink;
        
    }
}

.first-screen {
    position: relative;
    .first-screen-container {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: 100vh;
        .photo {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                border-radius: 50%;
                width: 250px;
            }
        }
        .header {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: white;
            padding: 90px;
            .name {
                font-size: 70px;
                line-height: 0.9;
                color: $grey-text;
            }
            .surname {
                font-size: 100px;
                font-weight: 700;
                line-height: 0.9;
                color: $dark-yellow;
            }
            .line {
                margin-top: 20px;
            }
            .profession {
                margin-top: 10px;
                font-size: 20px;
                color: $grey-text;
            }
            .contacts {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 10%;
                
            }
        }
    }
}

.second-screen {
    position: relative;
    .left-side-bg {
        background-color: $grey-bg;
    }
    .right-side-bg {
        background-color: $bright-grey-bg;
    }
    .second-screen-conteiner {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto;
        .title {
            background-color: $grey-bg;
        }
        .description {
            background-color: $bright-grey-bg;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            ul {
                list-style-type: none;
                a {
                    text-decoration: none;
                    .network-name {
                        color: $bright-pink;
                        font-weight: 600;
                    }
                    .login {
                        font-weight: 400;
                        color: $grey-text;
                    }
                    &:hover {
                        .login {
                            text-decoration: underline $title;
                        }
                    }
                }
            }
        }
    }
}

.third-screen {
    position: relative;
    .left-side-bg {
        background-color: $bright-grey-bg;
    }
    .right-side-bg {
        background-color: white;
    }
    .third-screen-conteiner {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto;
        .title {
            background-color: $bright-grey-bg;
        }
        .description {
            background-color: white;
        }
    }
}

.fourth-screen {
    position: relative;
    .left-side-bg {
        background-color: $grey-bg;
    }
    .right-side-bg {
        background-color: $bright-grey-bg;
    }
    .fourth-screen-container {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto;
       .title {
           background-color: $grey-bg;
       }
       .description {
           display: flex;
           justify-content: space-around;
           align-items: flex-start;
           flex-wrap: wrap;
           background-color: $bright-grey-bg;
       }
    }
}

.fifth-screen {
    position: relative;
    .left-side-bg {
        background-color: $bright-grey-bg;
    }
    .right-side-bg {
        background-color: white;
    }
    .fifth-screen-container {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto;
        .titile {
            background-color: $bright-grey-bg;
        }
        .description {
            background-color: white;
            .card-container {
                display: flex;
                flex-direction: column;
                // justify-content: space-around;
                align-items: center;
                .card-and-photo {
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    a:hover + .card a {
                        color: red;
                    }

                    a {
                        width: 50%;
                        img {
                            width: 100%;
                            border-radius: 5px;
                        }
                    }
                   
                    .card {
                        a {
                            color: $bright-pink;
                            &:hover {
                                text-decoration: underline $title;
                            }
                        }
                    }
                }
            }

            .example {
                margin-top: 40px;
                .example-task {
                    margin-bottom: 25px;
                    color: $bright-pink;
                    font-weight: 600;
                    span {
                        color: $grey-text;
                        font-weight: 400;
                    }
                    a {
                        color: $grey-text;
                        font-weight: 400;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline $title;
                        }
                    }
                    pre {
                        background-color: $bright-grey-bg;
                    }
                }
            }
        }
    }
}

.sixth-screen {
    position: relative;
    .left-side-bg {
        background-color: $grey-bg;
    }
    .right-side-bg {
        background-color: $bright-grey-bg;
    }
    .sixth-screen-container {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto;
        .titile {
            background-color: $grey-bg;
        }
        .description {
            background-color: $bright-grey-bg;
        }
    }
}

footer {
    background-color: white;
    padding: 70px 0;
    .footer-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        .footer-item {
            img {
                display: block;
                margin: 0 auto;
                width: 270px;
            }
            .footer-title {
                margin-bottom: 10px;
                font-size: 35px;
                font-weight: 400;
                color: $title;
            }
            ul {
                list-style-type: none;
                li {
                    font-size: 20px;
                    color: $grey-text;
                }
                a {
                    text-decoration: none;
                    font-size: 20px;
                    .network-name {
                        color: $bright-pink;
                        font-weight: 600;
                    }
                    .login {
                        font-weight: 400;
                        color: $grey-text;
                    }
                    &:hover {
                        .login {
                            text-decoration: underline $title;
                        }
                    }
                }
            }
        }
    }
}